<div class="register-container">
    <div class="left-section">
        <img src="assets/register.png" alt="Your Image" class="image" />
    </div>

    <div class="right-section">
    <form [formGroup]="registerForm" (ngSubmit)="saveRecords()">
        <div class="logo-container">
            <img src="assets/logo.png" alt="Digiairt Logo" class="logo" />
        </div>
        <p-card header="Register" class="title">
            <div class="field">
                <label for="fullName">Full Name</label>
                <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName" placeholder="Enter your name"/>
                <small class="block p-error" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                    <div *ngIf="fullName.errors?.['required']">Full Name is requred.</div>
                    <div *ngIf="fullName.errors?.['pattern']">Enter a valid name.</div>
                </small>
            </div>

            <div class="field">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Enter your email"/>
                <small class="block p-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors?.['required']">Email is requred.</div>
                    <div *ngIf="email.errors?.['email']">Email should be valid.</div>
                </small>
            </div>

            <div class="field">
                <label for="password">Password</label>
                <input type="password" pInputText formControlName="password" class="w-full" name="email" placeholder="Enter your password"/>
                <small class="block p-error" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required']">Password is requred.</div>
                    <div *ngIf="password.errors?.['password']">Password should be valid.</div>
                </small>
            </div>

            <div class="field">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword" placeholder="Confirm your password"/>
                <small class="block p-error" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <div *ngIf="confirmPassword.errors?.['required']">Confirm the password.</div>
                </small>
                <small class="block p-error"
                *ngIf = "registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
                Password should match
                </small>
            </div>

            <p-button label="Sign Up" type="submit" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>
            <div class="mt-2" style="text-align:right;">
                <a routerLink="/login">Back</a>
            </div>
        
        </p-card>
    </form>
    </div>
</div>