<!-- <p-card header="Users List" class="title"><ul>
    <li *ngFor="let user of users">
      {{ user.name }} - {{ user.email }}
    </li>
  </ul>
</p-card> -->



<p-menubar [model]="">
    <ng-template pTemplate="start">
      <img src="/assets/logo.png" height="40" class="p-mr-2" alt="brand logo">
    </ng-template>
    <ng-template pTemplate="end">
        <a routerLink="/login">
        <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
        </a>
    </ng-template>
  </p-menubar>

  <h4><em>Welcome, admin!</em></h4>
<div class="header">
    <h1>Users List</h1>
    <a routerLink="/register"><p-button class="add" label="Add New User" [outlined]="true" size="small"> </p-button></a>
  </div>
  
<p-table [value]="users" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">Name</th>
            <th style="width:20%">Email</th>
            <th style="width:20%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="user">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="user.name" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="user.email" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{user.email}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(user)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(user)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(user, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" (click)="onDelete(user)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
